@import 'partials/global/variables';
@import 'partials/global/mixins';
@import "compass/css3";

#signup-form {
	.fieldset-legend {
		background: none !important;
		padding-left: 0px !important;
		.summary {
			display: none;
		}
	}
	label {
		font-weight: 700;
	}
	.fieldset-title {
		font-family: "proxima-nova", Helvetica, Arial, sans-serif;
		font-weight: 700;
		font-size: 150%;
		margin-bottom: 0px;
		color: #52854D !important;
		display: block;
	}
	input[type="text"], input[type="email"], textarea, input[type="password"], input[type="file"], input[type="number"] {
		width: 100%;
	}
	.description {
		font-style: italic;
	}
}


.event-detail {
  label {
    display: inline-block;
    font-weight: 700;
  }
}