@import 'partials/global/variables';
@import 'partials/global/mixins';
@import "compass/css3";
@import "breakpoint";
@import "singularitygs";

.products {
  @include clearfix;
  .view-content {
	  @include clearfix;
  }
  h2 {
	  font-size: 170%;
	  color: #52854D;
	  letter-spacing: normal;
  }
  h6 {
	  margin: 0.4em 0 0.5em;
  }
  h5 {
   @include breakpoint($phone) {
	   margin: 0.2em 0;
   }
  
	  a {
		  font-size: 115%;
		  color: #52854D;
		  line-height: 1;
	  }
  }
	.views-row {
		@include breakpoint($phone) {
			margin: 1em 0 2em;
		}
		@include breakpoint(480px) {
			width: 46%;		
			margin-right: 1em;
			display: inline-block;
			vertical-align: top;
		}
		@include breakpoint($tablet) {
	    display: inline-block;
			vertical-align: top;
	    width: 31%;
	    margin-right: 1em;
	    margin-bottom: 2.5em;
			margin-top: 1em;
	  }
		@include breakpoint($desktop) {
	    width: 30%;
	  }
		  @include breakpoint($tablet) {
		  &.views-row-3, &.views-row-6, &.views-row-9, &.views-row-12, &.views-row-15, &.views-row-18, &.views-row-21, &.views-row-24 {
			  margin-right: 0;
		  }
	  }
	  p {
	    @include breakpoint($phone) {
	      margin: .1em 0 .5em;
	    }
		  font-style: italic;
	  }
	  .read-more-link {
		  margin-bottom: 7px;
	  }
	}
}