/* -- BREAKPOINTS -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fossil\/beta-ver-2\/sites\/all\/themes\/fossil\/sass\/partials\/modules\/checkout\/register\.scss}line{font-family:\000038}}
.register-events .views-row {
  border-top: 1px solid #ececec;
  padding: 30px 0 0;
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fossil\/beta-ver-2\/sites\/all\/themes\/fossil\/sass\/partials\/modules\/checkout\/register\.scss}line{font-family:\0000312}}
.register-events .views-row .label-inline {
  padding: 10px 0;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fossil\/beta-ver-2\/sites\/all\/themes\/fossil\/sass\/partials\/modules\/checkout\/register\.scss}line{font-family:\0000316}}
.register-events .views-row .form-item {
  margin: 0;
  padding: 0 20px 15px 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fossil\/beta-ver-2\/sites\/all\/themes\/fossil\/sass\/partials\/modules\/checkout\/register\.scss}line{font-family:\0000321}}
.register-events .views-row .commerce-add-to-cart {
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fossil\/beta-ver-2\/sites\/all\/themes\/fossil\/sass\/partials\/modules\/checkout\/register\.scss}line{font-family:\0000326}}
h2.event-title {
  font-size: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fossil\/beta-ver-2\/sites\/all\/themes\/fossil\/sass\/partials\/modules\/checkout\/register\.scss}line{font-family:\0000330}}
h6.price {
  font-size: 25px;
  font-weight: 700;
  color: #7AC143;
}
