@import 'partials/global/mixins';
@import 'partials/global/variables';
@import "compass/css3";
@import "breakpoint";
@import "singularitygs";

.gallery {
  @include clearfix;
  .gallery-items {
      width: 50%;
      float: left;
      padding: 10px;
    @include breakpoint($tablet) {
      width: 33%;
      float: left;
      padding: 10px;
    }
     @include breakpoint($desktop) {
      width: 25%;
    }
  }
}
 