@import 'partials/global/variables';
@import 'partials/global/mixins';
@import "breakpoint";
@import "singularitygs";
@import "compass/css3";

.register-events {
  .views-row { 
    border-top: 1px solid #ececec;
    padding: 30px 0 0;
    margin-top: 30px;
    .label-inline {
      padding: 10px 0;
      font-style: italic;
    }
    .form-item {
      margin: 0;
      padding: 0 20px 15px 0;
      float: left;
    }
    .commerce-add-to-cart {
      margin-bottom: 30px;
    }
  }
}
h2.event-title {
  font-size: 30px;
}

h6.price {
    font-size: 25px;
    font-weight: 700;
    color: #7AC143;
}